<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DependsOnSuite">
  <test  name="DependsOnTest">
    <classes>
      <class name="DependsOnMethods.DependsOnMethodsClass">
      <methods>
		<include name="Payment1"/>
		<include name="Payment2"/>
		<include name="Login"/>
		<include name="AddToCart"/>
		<include name="WishList"/>
	  </methods>
	  </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
